@font-face {
    font-family: Epilogue;
    src: url(./font-families/Epilogue/Epilogue-VariableFont_wght.ttf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Epilogue;
}

.header,
.container-1,
.container-2,
.container-3,
.container-4,
.footer {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 64px;
}

.header-logo,
.header-links,
.container-1 {
    padding: 0 100px 0 100px;
}

/* .container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
} */

.container-1-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container-1-left {
    width: 500px;
}

.hero-main-text,
.hero-secondary-text {
    margin-bottom: 8px;
}

.hero-button {
    font-weight: 900;
    border-radius: 10px;
    border-style: none;
    padding: 5px 24px 5px 24px;
}

.container-2 {
    padding: 50px;
}

.info-header {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    gap: 16px;
}

.info-box {
    height: 100px;
    width: 100px;
    background-color: gray;
    border-color: #3882F6;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box-avatar {
    height: 100px;
    width: 100px;
    background-color: gray;
    border-color: #3882F6;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #E5E7EB;
}

.quote-section {
    width: 700px;
}

.quote-by {
    text-align: right;
    font-weight: 900;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call-to-action-header {
    font-weight: bolder;
}

.call-to-action-button {
    font-weight: 900;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    padding: 5px 24px 5px 24px;
}

.header,
.container-1,
.footer {
    background-color: #1F2937;
}

a,
.hero-secondary-text {
    color: #E5E7EB;
}

.header-logo,
.hero-main-text {
    color: #F9FAF8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-button,
.call-to-action-button {
    color: white;
    background-color: #3882F6;
    transition-duration: 0.3s;
}

.hero-button:hover,
.call-to-action-button:hover {
    color: #3882F6;
    background-color: white;
}

.call-to-action-box {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 48px;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 16px;
}

.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}